"*":
  "asciidoc-preview":
    scrollMode: false
  "atom-beautify":
    general:
      _analyticsUserId: "ea9f6024-a6e4-4c3a-a6e9-1775c12d0f57"
    yaml:
      disabled: true
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      predefinedColor: "Purple"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "autoflow"
      "autosave"
      "github"
      "language-coffee-script"
      "language-csharp"
      "language-objective-c"
      "language-perl"
      "language-php"
      "open-on-github"
    ]
    packagesWithKeymapsDisabled: [
      "atom-beautify"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontSize: 17
    showInvisibles: true
  "exception-reporting":
    userId: "3c8b6fc7-ceba-43fb-b2f9-0238e23ee4b8"
  "git-diff": {}
  "linter-proselint": {}
  minimap: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
