"*":
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      predefinedColor: "Purple"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "autoflow"
      "autosave"
      "github"
      "language-coffee-script"
      "language-csharp"
      "language-objective-c"
      "language-perl"
      "language-php"
      "open-on-github"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    uriHandlerRegistration: "always"
  "exception-reporting":
    userId: "3c8b6fc7-ceba-43fb-b2f9-0238e23ee4b8"
  "git-diff": {}
  minimap: {}
  welcome:
    showOnStartup: false
